header {
    border-bottom: 7px solid #f2c83f;
}

a.nav-link {
    font-size: 25px;
}

a.nav-link:hover {
    color: #f2c83f !important;
    transition: color linear 0.25s;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
}

body {
    position: relative;
}

div.GTUI_GridNavMenu a {
    text-align: center;
    width: 100%;
    display: block;

    white-space: normal;

    font-weight: bolder;

    height: 105px;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.GTUI_GridNavMenu span.menulinkdesctext {
    text-align: justify;
    display: block;
}

div.GTUI_GridNavMenu span.menulinkdesctext>ul {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
}

footer {
    position: absolute;
    bottom: 0px;
    color: #FFFFFF;
    border-top: 5px solid #f2c83f;
    background-color: rgb(38, 38, 38) !important;
}

/* Bootstrap reconfiguration */
.btn-primary,
.btn-primary:visited {
    background-color: #A4925A !important;
    border: none !important;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #857437 !important;
    border: none !important;
}
